div {
	padding: 1em;
	border: 2px solid red;
	position: relative;
}

div::before {
	content: url(https://placehold.co/64/000/fff);
	float: left;
	margin-right: 1em;
}

div::after {
	content: '';
	width: 20px;
	height: 20px;
	background-color: red;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

p {
	margin: 0;
}

p::before {
	content: 'ANTES';
}

p::after {
	content: 'DEPOIS';
}