:root {
	--success-color: green;
	--error-color: red;
	--angle: 0deg;
}

body {
	background-color: #111;
	color: whitesmoke;
	--error-color: orange;
}

.container {
	--error-color: pink;
}

.div2 {
	/* when the property is applied because your values is incorrect the unset for this property is used instead */
	--error-color: 50px;
}

b {
	/* the default value of var() is case the variable does not exists (not if the value is wrong) */
	color: var(--error-color2, red);
}

.anima {
	background-color: var(--success-color);
	width: 200px;
	height: 200px;

	transform: rotate(var(--angle));
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}