:root {
	--color-primary: #612674;
	--color-contrast: #f6f6f6;
	--color-dark: #26303d;
	--font-size-title: xx-large;
	--font-size-subtitle: x-large;
	--font-size-text: medium;
	--padding-default: 2em;
	--gap-row-default: 8em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	font-size: 62.5%;
}

body {
	min-height: 100vh;
}

h1,
h2 {
	font-family: 'Oxygen', sans-serif;
}

.max-width {
	max-width: 120rem;
	margin: auto;
}