html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: cadetblue;
	font-family: sans-serif;
	min-height: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
}

.container {
	width: 80%;
	/* two cards + one gap */
	min-width: 610px;
	/* three cards + two gap */
	max-width: 920px;

	margin-bottom: 35px;
}

.container ul {
	padding: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.container ul li {
	background-image: url(images/thumbs/thumb_2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 150px;

	background-color: white;
	height: 325px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
	overflow: hidden;

	flex-basis: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.user {
	width: 70px;
	border-radius: 50%;
}

.subtitle {
	text-align: center;
}

.subtitle h2 {
	letter-spacing: .5px;
	font-weight: normal;
	color: darkslategray;
	margin: 10px 0 20px;
}

.subtitle p {
	color: #333;
	margin: 15px 0;
}

.icons {
	background-color: #ddd;
	width: 100%;
	padding: 15px;
	opacity: .75;

	display: flex;
	justify-content: space-evenly;
}