/* 
	min-width: 0em   -> sm (0px)
	min-width: 48em  -> md (768px)
	min-width: 90em  -> lg (1440px)
	min-width: 120em -> xl (1920px)

	12 cols grid
	1  item :  12 col -> 100% (gap)
	2  items:   6 col -> 50% (gap)
	3  items:   4 col -> 33.33% (gap)
	4  items:   3 col -> 25% (gap)
	5  items: 2.4 col -> 20% (gap)
	6  items:   2 col -> 16.66% (gap)
	7  items: 1.7 col -> 14.28% (gap)
	8  items: 1.5 col -> 12.5% (gap)
	9  items: 1.3 col -> 11.11% (gap)
	10 items: 1.2 col -> 10% (gap)
	11 items:   1 col -> 9.09% (gap)
	12 items:   1 col -> 8.33% (gap)
*/

.row {
	/* --gap-default: 1rem; */

	/* 1  item :  12 col -> 100% (gap) */
	--cols-12: 100%;

	/* 2  items:   6 col -> 50% (gap) */
	--cols-6: calc(50% - var(--gap-default));

	/* 4  items:   3 col -> 25% (gap) */
	--cols-3: calc(25% - var(--gap-default));
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-default);
}

.col {
	flex: 1 0 auto;
}

/* sm */
@media (width > 0) {
	.sm-12 {
		width: var(--cols-12);
	}
}

/* md */
@media (width > 48em) {
	.md-6 {
		width: var(--cols-6);
	}
}

/* lg */
@media (width > 90em) {}

/* xl */
@media (width > 120em) {
	.xl-3 {
		width: var(--cols-3);
	}

	.xl-6 {
		width: var(--cols-6);
	}
}