html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

body {
	background-color: var(--color-primary);
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 80%;
	max-width: 40rem;
	padding: 2.4em;

	/* background-image: linear-gradient(to right, rgba(0, 0, 0, .3) .8rem, white .8rem); */
	background-color: white;
	box-shadow: -.8rem 0 0 rgba(0, 0, 0, .3);
}

.fieldset {
	border: none;

	display: flex;
	flex-direction: column;
}

.legend {
	color: var(--color-primary);
	font-size: 2.8em;
	font-weight: 300;
	margin-bottom: .6em;
}

.label {
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: .4em;
}

.input {
	font-size: 1.5em;

	margin-bottom: 1.2em;
	padding: .4em 0;

	border: none;
	border-bottom: .1rem solid rgba(58, 103, 182, .5);

	/* transition-property: padding-left; */
	/* transition-duration: 100ms; */
	transition: padding-left 100ms;
}

.input:focus {
	padding-left: .4em;
	outline: .2rem solid var(--color-primary);
}

.actions-flex {
	display: flex;
	align-items: center;
}

.button {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .04rem;
	padding: .8em 1.2em;
	border: none;
	border-radius: .3rem;
}

.button-submit {
	background-color: var(--color-primary);
	color: white;
}

.button-fallback {
	background-color: white;
	color: var(--color-primary);
}

/* instead, this element can be inside another (or not) than flex-grow 1 and text-align right */
.actions-flex>*:last-child {
	font-size: 1.2em;
	margin-left: auto;
}