.about {
	background-color: var(--color-ocean);
	background-image: url(../images/nossa_escola.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;

	min-width: fit-content;
	color: white;
	margin-top: 4rem;
	padding: 8em;
}

.about__container {
	width: 40%;
	margin-left: 60%;
}

.about__title {
	margin: 0 0 2em;
}

.about__content {
	color: var(--color-lightwhite);
	font-size: var(--size-content);
	line-height: var(--line-content);
}