.contacts {
	width: var(--width-inside);
	margin: auto;
}

.contacts__title {
	text-align: center;
	margin: var(--margin-subtitle);
}

.contacts__list {
	font-size: var(--size-content);
	text-align: right;
	line-height: var(--line-content);
	margin-top: 1.6em;
	padding: 0;
	list-style-type: none;
}