@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
	--color-grey: #2a2a2a;
	--color-yellow: #f3cc06;
	--color-ocean: #003464;
	--color-lightgrey: #646464;
	--color-lightwhite: #d8d8d8;

	--size-subtitle: xx-large;
	--size-susubtitle: medium;
	--size-content: larger;
	--letter-titles: .04em;
	--line-content: 1.6em;
	--border-radius: .4rem;

	--margin-subtitle: 2em 0;
	--width-inside: 85%;
}

* {
	max-width: 100%;
}

html,
body {
	min-height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #eee;
	color: var(--color-grey);
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

.subtitle {
	font-size: var(--size-subtitle);
	letter-spacing: var(--letter-titles);
}

.button-cta {
	background-color: var(--color-yellow);
	color: var(--color-grey);
	font-size: small;
	font-weight: bold;
	text-decoration: none;
	padding: .8em 2em;
	border-radius: var(--border-radius);
}