<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<title>Position</title>

	<style>
		#div1 {
			background-color: rgba(255, 0, 0, .5);
			height: 100px;
			width: 80%;
			padding: 10px;

			/* position: relative; */

			position: sticky;
			top: 0;
			bottom: 0;

			/* position: fixed; */
			/* top always stand out on bottom */
			/* top: 0; */
			/* bottom: 0; */
			/* here who wins depends on language */
			/* right: 0; */
			/* left: 0; */
		}

		#div2 {
			background-color: rgba(0, 255, 0, .5);
			height: 50px;
			width: 80%;
			padding: 10px;

			position: static;

			/* position: relative; */
			/* left: 25px; */
		}

		#div3 {
			background-color: rgba(0, 0, 255, .5);
			height: 30px;
			width: 30px;
			padding: 10px;

			position: static;

			/* position: absolute; */
			/* bottom: 0; */
			/* right: 0; */

			/* position: fixed; */
			/* top: 20px; */
			/* right: 0; */
		}
	</style>
</head>

<body>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>

	<div id="div1">
		1
		<div id="div2">
			2
			<div id="div3">
				3
			</div>
		</div>
	</div>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestiae tenetur? Aspernatur, deserunt!
		Reprehenderit perspiciatis quaerat earum reiciendis necessitatibus eum modi ab numquam quos, perferendis ut
		distinctio, iste veritatis excepturi?
	</p>
</body>

</html>