body {
	background-image: url(../images/bg_2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	color: white;
	font-family: sans-serif;
}

/* hero */
.hero {
	text-align: center;
	margin-top: 100px;
}

.hero h1 {
	font-size: 56px;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px black;
	margin-bottom: 0;
}

.hero p {
	background-color: #333;
	margin-bottom: 20px;
	padding: 15px;
	border-bottom: 2px solid;

	display: inline-block;
}

/* content */
.content__cards {
	background-color: white;
	max-width: 870px;
	margin: auto;
	padding: 15px;

	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.content__card {
	/* responsibility? */
	flex-basis: 280px;
	flex-grow: 1;
}

.content__card img {
	width: 100%;
	display: block;
}

.content__card p {
	background-color: #333;
	margin: 0;
	padding: 10px;
}